* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.main {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:after {
    content: '';
    background: black;
    position: absolute;
    height: 100%;
    width: calc(100% - 400px);
    top: 0;
    opacity: 0.3;
    left: 400px;
  }
}