.header {
  padding: 10px;
}
.header img {
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  border: 3px solid rgba(102, 102, 102, 0.2);
}
.header img:before {
  content: '';
  display: inline-block;
  border: 1px solid #000;
  width: 100%;
}
.header img:after {
  content: '';
  display: inline-block;
  border: 1px solid #000;
  width: 100%;
}
.body .text {
  margin: 10px 0;
  text-align: center;
}
.body .text .primary {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}
.body .text .secondary {
  font-family: 'Questrial', sans-serif;
  font-size: 13px;
  font-weight: lighter;
  margin: 5px;
  color: #666;
}
.body .text .secondary a {
  color: #666;
}
.footer {
  padding: 10px;
}
.footer .collection {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
