.icon svg path {
  fill: #999;
  transition: fill 0.5s ease-out;
}
.github:hover svg path {
  fill: #333;
}
.twitter:hover svg path {
  fill: #1da1f2;
}
.linkedin:hover svg path {
  fill: #0077b5;
}
.codepen:hover svg path {
  fill: #181818;
}
